* {
    active-background:              {{colors.secondary.default.hex}};
    active-foreground:              {{colors.on_secondary.default.hex}};
    normal-background:              {{colors.surface.default.hex}};
    normal-foreground:              {{colors.on_surface.default.hex}};
    urgent-background:              {{colors.tertiary.default.hex}};
    urgent-foreground:              {{colors.on_tertiary.default.hex}};

    alternate-active-background:    {{colors.secondary_container.default.hex}};
    alternate-active-foreground:    {{colors.on_secondary_container.default.hex}};
    alternate-normal-background:    {{colors.surface.default.hex}};
    alternate-normal-foreground:    {{colors.on_surface.default.hex}};
    alternate-urgent-background:    {{colors.surface.default.hex}};
    alternate-urgent-foreground:    {{colors.on_surface.default.hex}};

    selected-active-background:     {{colors.secondary.default.hex}};
    selected-active-foreground:     {{colors.on_secondary.default.hex}};
    selected-normal-background:     {{colors.primary.default.hex}};
    selected-normal-foreground:     {{colors.on_primary.default.hex}};
    selected-urgent-background:     {{colors.tertiary.default.hex}};
    selected-urgent-foreground:     {{colors.on_tertiary.default.hex}};

    background-color:               {{colors.surface.default.hex}};
    background:                     rgba(0,0,0,0.7);
    foreground:                     {{colors.on_surface.default.hex}};
    border-color:                   {{colors.primary.default.hex}};
    selected:                       {{colors.primary.default.hex}};
}
